<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>微信用户登录失败</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.css" />
</head>
<body ontouchstart>
	<div id="container">获取微信用户信息失败</div>
	<form>
		<div class="weui-btn-area" onclick="wx.closeWindow();">
			<a href="javascript:;" class="weui-btn weui-btn_primary js_btn">关闭</a>
		</div>
	</form>
</body>

</html>